body,
html {
  box-sizing: border-box;
  margin: 0;
}
* {
  font-family: sans-serif;
}

/*-------------------------TIPOGRAFÍA-------------------------*/
@font-face {
  font-family: "FuturaStd-Book";
  font-style: normal;
  font-weight: normal;
  src: local("FuturaStd-Book"),
    url("../fonts/FuturaStd-Book.woff") format("woff");
}
@font-face {
  font-family: "FuturaStd-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("FuturaStd-Bold"),
    url("../fonts/FuturaStd-Bold.woff") format("woff");
}
@font-face {
  font-family: "FuturaStd-Light";
  font-style: normal;
  font-weight: normal;
  src: local("FuturaStd-Light"),
    url("../fonts/FuturaStd-Light.woff") format("woff");
}
@font-face {
  font-family: "FuturaStd-CondBold";
  font-style: normal;
  font-weight: normal;
  src: local("FuturaStd-CondBold"),
    url("../fonts/FuturaStd-CondensedBold.woff") format("woff");
}
@font-face {
  font-family: "FuturaCondensed";
  font-weight: 400;
  src: url(../fonts/FuturaStd-Condensed.otf) format("OpenType");
}
@font-face {
  font-family: "FuturaCondensedLight";
  font-weight: 300;
  src: url(../fonts/FuturaStd-CondensedLight.otf) format("OpenType");
}

/*-------------------------MENU-------------------------*/
.navbar,
.navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  min-height: 80px;
  background-color: white !important;
  border-color: grey !important;
}
.nav li {
  display: inline;
  color: black;
}
.navbar-inverse .navbar-nav > li > a {
  color: black !important;
  font-family: "FuturaStd-Bold", sans-serif;
  font-size: 16px;
  font-weight: 100;
  padding: 20px 20px 20px 20px;
  margin-left: 8px;
  margin-right: 8px;
}
.navbar-inverse .navbar-nav li a:hover {
  color: black;
  transition: 0.7s all linear;
  height: 100%;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black !important;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: white !important;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  background-color: white;
}
.navbar-inverse .navbar-toggle {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  margin-right: 30px !important;
}
.navbar-inverse .navbar-toggle {
  border-color: #fff !important;
}
.menuItem {
  color: black !important;
  margin-left: 25px !important;
}
#left-container {
  display: inline-block;
  float: left;
  margin-top: -55px;
}
@media screen and (max-width: 500px) {
  .itemmenuindustria,
  .itemmenumes {
    display: none !important;
  }
}

/*-------------------------LOGOS-------------------------*/
.logoBLANCO {
  float: left;
  width: 80px;
  margin-top: 4px;
  margin-bottom: 20px;
  margin-right: 30px;
  display: inline;
}
@media (max-width: 767px) {
  .logoBLANCO {
    display: flex;
  }
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    background-color: black;
  }
  .navbar-inverse .navbar-nav > li > a {
    color: white !important;
    font-size: 14px;
    padding-left: 35px;
  }
}
@media (min-width: 768px) and (max-width: 1084px) {
  .logoBLANCO {
    margin-top: 4px !important;
  }
}
.logoMOBILE {
  width: auto;
  margin-left: 10px;
}
@media (min-width: 800px) {
  .logoMOBILE {
    display: flex;
  }
}

/*-------------------------MENUtoggle-------------------------*/

#menuToggle {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-top: 20px;
  padding-right: 30px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 50px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 30px;
  height: 1px;
  margin-bottom: 8px;
  position: relative;
  background: #000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: fixed;
  width: 500px;
  margin: -100px 0 0 0;
  height: 1000px;
  padding: 50px;
  padding-top: 120px;
  right: -100px;
  background: #000;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menulist {
  border-bottom: 1px dotted rgb(255, 255, 255);
}
#menulist a {
  color: white !important;
  text-decoration: none;
}
#menu li {
  padding: 5px 0;
  color: #fff;
  font-family: "FuturaCondensedLight", sans-serif;
  font-size: 36px;
  font-weight: 400;
}
#menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1;
}

/*-------------------------VARIOS-------------------------*/
@media only screen and (max-width: 385px) {
  .list-container {
    margin: 0 30px;
  }
}
@media only screen and (min-width: 385px) {
  .list-container {
    width: 25%;
    margin: 0 15px;
  }
}
@media only screen and (max-width: 570px) {
  .categories {
    flex-direction: column !important;
  }
  .list-container {
    width: auto !important;
  }
}
.container {
  width: auto !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
h1 {
  font-weight: 500;
  margin-left: 30px !important;
  font-size: 20px !important;
  font-family: "FuturaStd-Bold", sans-serif !important;
}
.list {
  padding: 0;
  margin-top: 8px;
}
.item {
  padding: 6px 0;
  list-style: none;
  color: black;
  font-style: none;
  font-family: "FuturaStd-Book", "FuturaSt-Book", sans-serif;
  font-size: 14px;
}
.arrow {
  padding: 8px 0;
  list-style: none;
  color: black;
  font-style: none;
  font-family: "Futura-Book", sans-serif;
}
.link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.media {
  margin: 0;
  padding: 10px 30px;
  padding-bottom: 0px;
  color: #fff;
  font-family: "FuturaStd-Bold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;
}
.categories {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (max-width: 385px) {
  .categories {
    flex-direction: column;
  }
}
@media only screen and (min-width: 385px) {
  .categories {
    flex-direction: row;
  }
}

/*-------------------------TITULOS-------------------------*/
#formatos {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  margin-left: 3px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
@media (max-width: 284px) {
  #formatos {
    display: none;
  }
}
#funcionalidades {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  margin-left: 3px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
@media (max-width: 284px) {
  #funcionalidades {
    display: none;
  }
}
#industria {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  margin-left: 3px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
@media (max-width: 284px) {
  #industria {
    display: none;
  }
}
#mes {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  margin-left: 3px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
@media (max-width: 284px) {
  #mes {
    display: none;
  }
}

/*-------------------------FORMATOS-------------------------*/

details summary::-webkit-details-marker {
  font-size: 14px;
  padding-right: 4px;
  padding-bottom: 3px;
}


.title-rm {
  border-bottom: 2px solid #1e345d;
  padding: 5px 0;
  font-size: 21px;
  font-family: "FuturaCondensed", sans-serif !important;
  outline: none !important;
}
.title-display {
  border-bottom: 2px solid #000;
  padding: 5px 0;
  font-size: 21px;
  font-family: "FuturaCondensed", sans-serif;
  outline: none !important;
}
.title-video {
  border-bottom: 2px solid #c8342b;
  padding: 5px 0;
  font-size: 21px;
  font-family: "FuturaCondensed", sans-serif;
  outline: none !important;
}
.title-nm {
  border-bottom: 2px solid #fdbc18;
  padding: 5px 0;
  font-size: 21px;
  font-family: "FuturaCondensed", sans-serif;
  outline: none !important;
}

.list-func {
  margin-bottom: 0px;
  padding: 0px;
}


@media (max-width: 567px) {
  #FPC {
    display: none;
  }
}
@media (min-width: 568px) {
  #FMO {
    display: none;
  }
}

/*-------------------------SPECS-------------------------*/

.main {
  margin-left: 15px;
  margin-right: 15px;
}

.specstitulos {
  font-size: 21px;
  font-family: "FuturaCondensed", sans-serif;
}


.specsinfo li p {
  font-size: 14px;
  font-family: "FuturaStd-Book", "FuturaSt-Book", sans-serif !important; 
}

.specsinfo li a {
  font-size: 14px;
  font-family: "FuturaStd-Book", "FuturaSt-Book", sans-serif !important; 
}

ul > li {
  display: inline-block;
}
.cbp-hrsub-inner > div {
  width: 25%;
  float: left;
  padding: 0 1em 0;
}
.cbp-hrsub-inner > div:last-child {
  border-right: none;
}
.cbp-hrsub-inner > div {
  width: 25%;
  float: left;
  padding: 0 1em 0;
}
.cbp-hrsub-inner.cbp-content > div {
  width: 100%;
}
.cbp-hrsub-inner:before,
.cbp-hrsub-inner:after {
  content: " ";
  display: table;
}
.cbp-hrsub-inner:after {
  clear: both;
}
.cbp-hrsub-inner > div li {
  margin: 0 0 10px 0;
  overflow: hidden;
  width: 100%;
}
.cbp-hrsub-inner > div p {
  color: #000;
  margin: 0 0 5px 0;
  float: left;
  overflow: hidden;
}
.cbp-hrsub-inner > div .language {
  float: right;
}
.cbp-hrsub-inner > div .language a {
  float: left;
  line-height: normal;
  margin: 0 10px 0 0;
  color: #000;
}
.cbp-hrsub-inner > div a:last-child {
  margin: 0 0 0 0;
}
.cbp-hrsub-inner > div a:hover {
  background: #000;
  color: #fff;
}
@media screen and (max-width: 43em) {
   {
    font-size: 120%;
    border: none;
  }

  > ul,
  .cbp-hrsub-inner {
    width: 100%;
    padding: 0;
  }

  .cbp-hrsub-inner {
    padding: 0 2em;
    font-size: 75%;
  }

  > ul > li {
    display: block;
    border-bottom: 1px dashed #d8d7d7;
  }
  > ul > li:last-child {
    border-bottom: none;
    float: none;
    padding: 0 0 0 22px;
  }

  > ul > li > a {
    display: block;
    padding: 1em 3em;
  }

  .cbp-hrsub {
    position: relative;
  }

  .cbp-hrsub h4 {
    padding-top: 0.6em;
  }
}
@media screen and (max-width: 36em) {
  .cbp-hrsub-inner > div {
    width: 100%;
    float: none;
    /*padding: 0 2em;*/
  }
}
.new {
  background: rgb(200, 52, 43);
  color: rgb(255, 255, 255);
  font-size: 0.5em;
  padding: 0.3em 0.7em;
  margin: 0px 0px 0px 5px;
  position: relative;
  bottom: 3px;
}

/*-------------------------OFICINAS-------------------------*/
.about,
.about-list,
.about-numbers,
.footer-container,
.header-container,
.hero,
.publishers,
.quotes,
.recipe-container,
.technology,
.technology-footer {
  max-width: 90%;
  margin-left: 30px;
  display: flex;
  flex-wrap: nowrap;
}

.about-list {
  display: flex;
  flex-direction: column;
}
.air-3 {
  margin-bottom: 36px !important;
  font-weight: 800;
}
.about-list-title {
  font-size: 34px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
.about-list-subtitle,
.about-list-title {
  font-family: "FuturaCondensedLight", sans-serif;
  padding-right: 20px;
  list-style: none;
  text-decoration: none !important;
}
.datocontacto {
  font-family: "FuturaCondensedLight", sans-serif;
  letter-spacing: 1.5px;
  padding-right: 20px;
  list-style: none;
  text-decoration: none !important;
}
.about-list-flex {
  display: flex;
  justify-content: space-between;
}
.about-list-column {
  width: 32%;
  flex-basis: 30%;
}
.about-list-flags-media {
  max-width: 50px;
  height: auto;
  margin-bottom: 12px;
}
.about-list.flags .about-list-description,
.about-list.flags .about-list-subtitle {
  font-size: 12pt;
  min-height: auto;
}
.about-list-subtitle {
  padding-right: 20px;
  font-weight: 800;
  font-family: "FuturaCondensedLight", sans-serif;
}
.about-list-subtitle:not(.position) {
  text-transform: uppercase;
}
.about-list-description {
  padding-right: 20px;
  font-family: FuturaBook;
  line-height: 1.4em;
  font-size: 13pt;
  margin-bottom: 20px;
  font-family: "FuturaCondensedLight", sans-serif;
  height: 0px;
}
@media (max-width: 767px) {
  .about-list-title {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .about-list-flex {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .about-list-column {
    width: 100%;
    flex-basis: 100%;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .about-list-flags-media {
    max-width: 50px;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.2em;
  }
}
@media (max-width: 767px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.1em;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.2em;
  }
}
@media (max-width: 767px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.1em;
  }
}
@media (max-width: 767px) {
  .about-list-description {
    font-size: 16px;
    min-height: auto;
  }
}
@media (max-width: 767px) {
  .about-list-column {
    width: 100%;
    flex-basis: 100%;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .about-list-flags-media {
    max-width: 50px;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.2em;
  }
}
@media (max-width: 767px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.1em;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.2em;
  }
}
@media (max-width: 767px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.1em;
  }
}
@media (max-width: 767px) {
  .about-list-description {
    font-size: 16px;
    min-height: auto;
  }
}
@media (max-width: 767px) {
  .about-list-column {
    width: 100%;
    flex-basis: 100%;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .about-list-flags-media {
    max-width: 50px;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.2em;
  }
}
@media (max-width: 767px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.1em;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.2em;
  }
}
@media (max-width: 767px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.1em;
  }
}
@media (max-width: 767px) {
  .about-list-description {
    font-size: 16px;
    min-height: auto;
  }
}
@media (max-width: 767px) {
  .about-list-column {
    width: 100%;
    flex-basis: 100%;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .about-list-flags-media {
    max-width: 50px;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.2em;
  }
}
@media (max-width: 767px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.1em;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.2em;
  }
}
@media (max-width: 767px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.1em;
  }
}
@media (max-width: 767px) {
  .about-list-description {
    font-size: 16px;
    min-height: auto;
  }
}
@media (max-width: 767px) {
  .about-list-flex {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .about-list-column {
    width: 100%;
    flex-basis: 100%;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .about-list-flags-media {
    max-width: 50px;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.2em;
  }
}
@media (max-width: 767px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.1em;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.2em;
  }
}
@media (max-width: 767px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.1em;
  }
}
@media (max-width: 767px) {
  .about-list-description {
    font-size: 16px;
    min-height: auto;
  }
}
@media (max-width: 767px) {
  .about-list-column {
    width: 100%;
    flex-basis: 100%;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .about-list-flags-media {
    max-width: 50px;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.2em;
  }
}
@media (max-width: 767px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.1em;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.2em;
  }
}
@media (max-width: 767px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.1em;
  }
}
@media (max-width: 767px) {
  .about-list-description {
    font-size: 16px;
    min-height: auto;
  }
}
@media (max-width: 767px) {
  .about-list-column {
    width: 100%;
    flex-basis: 100%;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .about-list-flags-media {
    max-width: 50px;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.2em;
  }
}
@media (max-width: 767px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.1em;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.2em;
  }
}
@media (max-width: 767px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.1em;
  }
}
@media (max-width: 767px) {
  .about-list-description {
    font-size: 16px;
    min-height: auto;
  }
}
@media (max-width: 767px) {
  .about-list-column {
    width: 100%;
    flex-basis: 100%;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .about-list-flags-media {
    max-width: 50px;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.2em;
  }
}
@media (max-width: 767px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.1em;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.2em;
  }
}
@media (max-width: 767px) {
  .about-list.flags .about-list-description,
  .about-list.flags .about-list-subtitle {
    font-size: 1.1em;
  }
}
@media (max-width: 767px) {
  .about-list-description {
    font-size: 16px;
    min-height: auto;
  }
}
