body, html {
  box-sizing: border-box;
  margin: 0;
}

* {
  font-family: sans-serif;
}

/*-------------------------TIPOGRAFÃA-------------------------*/
@font-face {
  font-family: 'FuturaStd-Book';
  font-style: normal;
  font-weight: normal;
  src: local('FuturaStd-Book'), url('../fonts/FuturaStd-Book.woff') format('woff');
  }
 @font-face {
  font-family: 'FuturaStd-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('FuturaStd-Bold'), url('../fonts/FuturaStd-Bold.woff') format('woff');
}
@font-face {
  font-family: 'FuturaStd-Light';
  font-style: normal;
  font-weight: normal;
  src: local('FuturaStd-Light'), url('../fonts/FuturaStd-Light.woff') format('woff');
}

/*-------------------------VARIOS-------------------------*/
@media only screen and (max-width : 385px) {
  .list-container {
    margin: 0 30px;
  }  
}
@media only screen and (min-width : 385px) {
  .list-container {
    width: 25%;
    margin: 0 30px;
  }  
}
@media only screen and (max-width : 570px) {
  .categories {
    flex-direction: column !important;
  }
  .list-container {
    width: auto !important;
  }
}

.container{
  width: auto !important;
  padding-right: 0px !important;
  padding-left: 0px !important; 
}

h1 {
  font-weight: 500;
  margin-left: 30px !important;
  font-size: 20px !important;
  font-family: 'FuturaStd-Bold', sans-serif !important;
}

.list {
  padding: 0;
}

.item {
  padding: 6px 0;
  list-style: none;
  color: black;
  font-style: none;
  font-family: 'FuturaStd-Book', 'FuturaSt-Book',sans-serif;
  font-size: 14px;
}

.arrow {
  padding: 8px 0;
  list-style: none;
  color: black;
  font-style: none;
  font-family: 'Futura-Book', sans-serif;
}
.link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media {
  margin: 0;
  padding: 10px 30px;
  color: #fff;
  font-family: 'FuturaStd-Bold', sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #000;
}

.categories {
  display: flex;
}
@media only screen and (max-width : 385px) {
  .categories {
    flex-direction: column;
  }
}
@media only screen and (min-width : 385px) {
  .categories {
    flex-direction: row;
  }
}

/*-------------------------FORMATOS-------------------------*/
.title-rm {
  font-weight: 800;
  border-bottom: 2px solid #1e345d;
  padding: 10px 0;
  font-size: 16px;
  font-family: 'FuturaStd-Bold', sans-serif !important;
}
.title-display {
  font-weight: 800;
  border-bottom: 2px solid #000;
  padding: 10px 0;
  font-size: 16px;
  font-family: 'FuturaStd-Bold', sans-serif;
}
.title-video {
  font-weight: 800;
  border-bottom: 2px solid #c8342b;
  padding: 10px 0;
  font-size: 16px;
  font-family: 'FuturaStd-Bold', sans-serif;
}
.title-nm {
  font-weight: 800;
  border-bottom: 2px solid #fdbc18;
  padding: 10px 0;
  font-size: 16px;
  font-family: 'FuturaStd-Bold', sans-serif;
}

/*-------------------------MENU-------------------------*/
.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
  min-height: 80px;
  background-color: #f8f8f8 !important;
  border-color: grey !important;
}
.nav li {
	display: inline;
	color: black;
}
.navbar-inverse .navbar-nav > li > a {
	color: black;
  font-family: 'FuturaStd-Bold', sans-serif;
	font-size: 1.25em;
	font-weight: 100;
	padding: 20px 20px 20px 20px;
}
.navbar-inverse .navbar-nav li a:hover {
  color: black;
	transition: 0.7s all linear;
	height: 100%;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black !important;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: white !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  background-color: black;
}
.navbar-inverse .navbar-nav > li > a {
  color: white !important;
  margin-left: 30px;
  margin-right: 30px;
}
.navbar-inverse .navbar-toggle {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  margin-right: 45px !important;
}
.navbar-inverse .navbar-toggle {
  border-color: #fff !important;
}
.menuItem {
  color: black !important;
  margin-left: 25px !important;
}
#left-container {
  display: inline-block;
  float: left;
  margin-top: -55px;
}
/*-------------------------TITULOS-------------------------*/
#formatos {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  margin-left: 3px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
@media (max-width: 284px) {
  #formatos {
      display: none;
  }
}
#funcionalidades {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  margin-left: 3px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
@media (max-width: 284px) {
  #funcionalidades {
      display: none;
  }
}
#industria {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  margin-left: 3px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
@media (max-width: 284px) {
  #industria {
      display: none;
  }
}
#mes {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  margin-left: 3px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
@media (max-width: 284px) {
  #mes {
      display: none;
  }
}

/*-------------------------LOGOS-------------------------*/
.logoBLANCO {
  float: right;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 90px;
  display: inline;
}
@media (max-width: 767px) {
  .logoBLANCO {
      display: none;
  }
}
@media (min-width: 768px) and (max-width: 1084px) {
  .logoBLANCO {
    margin-top: -40px !important;
  }
}
.logoMOBILE {
  width: 80px;
  margin-left: 30px;
}
@media (min-width: 800px) {
  .logoMOBILE{
      display: none;
  }
}

/*-------------------------BEFOREFOOTER-------------------------*/
.animatedFooter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (min-width: 450px) {
  .animatedFooter {
    width: 449px !important;
  }
}
#beforeFooter > h3 {
  margin-bottom: -15px !important;
}
.textoFooter {
  text-align: center !important;
  font-family: 'FuturaStd-Bold', sans-serif !important;
}

/*-------------------------FOOTER-------------------------*/
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: black;
  text-align: center;
  padding-top: 3px;
}