body,
html {
  box-sizing: border-box;
  margin: 0;
}

* {
  font-family: sans-serif;
}

/*-------------------------TIPOGRAFÃA-------------------------*/

@font-face {
  font-family: "FuturaStd-Book";
  font-style: normal;
  font-weight: normal;
  src: local("FuturaStd-Book"),
    url("../fonts/FuturaStd-Book.woff") format("woff");
}
@font-face {
  font-family: "FuturaStd-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("FuturaStd-Bold"),
    url("../fonts/FuturaStd-Bold.woff") format("woff");
}
@font-face {
  font-family: "FuturaStd-Light";
  font-style: normal;
  font-weight: normal;
  src: local("FuturaStd-Light"),
    url("../fonts/FuturaStd-Light.woff") format("woff");
}
@font-face {
  font-family: "FuturaStd-CondBold";
  font-style: normal;
  font-weight: normal;
  src: local("FuturaStd-CondBold"),
    url("../fonts/FuturaStd-CondensedBold.woff") format("woff");
}

@font-face {
  font-family: "FuturaCondensed";
  font-weight: 400;
  src: url(../fonts/FuturaStd-Condensed.otf) format("OpenType");
}

@font-face {
  font-family: "FuturaCondensedLight";
  font-weight: 300;
  src: url(../fonts/FuturaStd-CondensedLight.otf) format("OpenType");
}

/*-------------------------VARIOS-------------------------*/

@media only screen and (max-width: 385px) {
  .list-container {
    margin: 0 30px;
  }
}
@media only screen and (min-width: 385px) {
  .list-container {
    width: 25%;
    margin: 0 30px;
  }
}
@media only screen and (max-width: 570px) {
  .categories {
    flex-direction: column !important;
  }
  .list-container {
    width: auto !important;
  }
}

.container {
  width: auto !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

h1 {
  font-weight: 500;
  margin-left: 30px !important;
  font-size: 20px !important;
  font-family: "FuturaStd-Bold", sans-serif !important;
}

.list {
  padding: 0;
  margin-top: 8px;
}

.list-func {
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px !important;
}

.item {
  padding: 6px 0;
  list-style: none;
  color: black;
  font-style: none;
  font-family: "FuturaStd-Book", "FuturaSt-Book", sans-serif;
  font-size: 14px;
}

.arrow {
  padding: 8px 0;
  list-style: none;
  color: black;
  font-style: none;
  font-family: "Futura-Book", sans-serif;
}
.link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media {
  margin: 0;
  padding: 10px 30px;
  color: #fff;
  font-family: "FuturaStd-Bold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;
}

.categories {
  display: flex;
}
@media only screen and (max-width: 385px) {
  .categories {
    flex-direction: column;
  }
}
@media only screen and (min-width: 385px) {
  .categories {
    flex-direction: row;
  }
}

/*-------------------------MENUtoggle-------------------------*/

#menuToggle {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-top: 20px;
  padding-right: 30px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 30px;
  height: 1px;
  margin-bottom: 8px;
  position: relative;
  background: #000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: fixed;
  width: 500px;
  margin: -100px 0 0 0;
  height: 1000px;
  padding: 50px;
  padding-top: 120px;
  right: -100px;
  background: #000;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menulist {
  border-bottom: 1px dotted rgb(255, 255, 255);
}

#menulist a {
  color: white !important;
  text-decoration: none;
}

#menu li {
  padding: 5px 0;
  color: #fff;
  font-family: "FuturaCondensedLight", sans-serif;
  font-size: 36px;
  font-weight: 400;
}

#menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1;
}

@media screen and (min-width: 0px) and (max-width: 1300px) {
  .specsmenu {
    display: none !important;
  }
}

/*-------------------------FORMATOS-------------------------*/

.title-rm {
  font-weight: 800;
  border-bottom: 2px solid #1e345d;
  padding: 10px 0;
  font-size: 14px;
  font-family: "FuturaStd-Bold", sans-serif !important;
  outline: none !important;
}
.title-display {
  font-weight: 800;
  border-bottom: 2px solid #000;
  padding: 10px 0;
  font-size: 14px;
  font-family: "FuturaStd-Bold", sans-serif;
  outline: none !important;
}
.title-video {
  font-weight: 800;
  border-bottom: 2px solid #c8342b;
  padding: 10px 0;
  font-size: 14px;
  font-family: "FuturaStd-Bold", sans-serif;
  outline: none !important;
}
.title-nm {
  font-weight: 800;
  border-bottom: 2px solid #fdbc18;
  padding: 10px 0;
  font-size: 14px;
  font-family: "FuturaStd-Bold", sans-serif;
  outline: none !important;
}

.title-funcionalidades {
  font-weight: 800;
  border-bottom: 2px solid #1e345d;
  padding: 10px 0;
  font-size: 14px;
  font-family: "FuturaStd-Bold", sans-serif !important;
  outline: none !important;
  margin: 0 30px;
}

@media (max-width: 567px) {
  #FPC {
    display: none;
  }
}
@media (min-width: 568px) {
  #FMO {
    display: none;
  }
}

/*-------------------------MENU-------------------------*/

.navbar,
.navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  min-height: 80px;
  background-color: white !important;
  border-color: grey !important;
}
.nav li {
  display: inline;
  color: black;
}
.navbar-inverse .navbar-nav > li > a {
  color: black !important;
  font-family: "FuturaStd-Bold", sans-serif;
  font-size: 16px;
  font-weight: 100;
  padding: 20px 20px 20px 20px;
  margin-left: 8px;
  margin-right: 8px;
}
.navbar-inverse .navbar-nav li a:hover {
  color: black;
  transition: 0.7s all linear;
  height: 100%;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black !important;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: white !important;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  background-color: white;
}

.navbar-inverse .navbar-toggle {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  margin-right: 30px !important;
}
.navbar-inverse .navbar-toggle {
  border-color: #fff !important;
}
.menuItem {
  color: black !important;
  margin-left: 25px !important;
}
#left-container {
  display: inline-block;
  float: left;
  margin-top: -55px;
}

/*-------------------------TITULOS-------------------------*/

#formatos {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  margin-left: 3px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
@media (max-width: 284px) {
  #formatos {
    display: none;
  }
}
#funcionalidades {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  margin-left: 3px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
@media (max-width: 284px) {
  #funcionalidades {
    display: none;
  }
}
#industria {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  margin-left: 3px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
@media (max-width: 284px) {
  #industria {
    display: none;
  }
}
#mes {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  margin-left: 3px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
@media (max-width: 284px) {
  #mes {
    display: none;
  }
}

/*-------------------------LOGOS-------------------------*/

.logoBLANCO {
  float: left;
  width: 80px;
  margin-top: 4px;
  margin-bottom: 20px;
  margin-right: 30px;
  display: inline;
}

@media (max-width: 767px) {
  .logoBLANCO {
    display: flex;
  }
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    background-color: black;
  }
  .navbar-inverse .navbar-nav > li > a {
    color: white !important;
    font-size: 14px;
    padding-left: 35px;
  }
}

@media (min-width: 768px) and (max-width: 1084px) {
  .logoBLANCO {
    margin-top: 4px !important;
  }
}
.logoMOBILE {
  width: auto;
  margin-left: 10px;
}

@media (min-width: 800px) {
  .logoMOBILE {
    display: flex;
  }
}

/*-------------------------BEFOREFOOTER-------------------------*/

.videoPC {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
@media (max-width: 1200px) {
  .videoPC {
    width: 400px;
  }
}
@media (max-width: 376px) {
  .videoPC {
    display: none;
  }
  .videoMO {
    height: 100vh;
    min-height: 100%;
  }
}
@media (min-width: 375px) {
  .videoMO {
    display: none;
  }
}

/*-------------------------FOOTER-------------------------*/

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  background-color: white;
  text-align: center;
  padding-top: 3px;
  position: absolute;
}
